In [1]:
import pandas as pd
from data import COST_EXCEL_PATH, PRICE_EXCEL_PATH

# Data details

## COST dataframe, len 3077
'Index', 'Product_ID', 'Production_Site', 'Unit Cost', 'CU Weight / m',
'AL Weight / m', 'Armour type', 'Conductor cross-section',
'Conductor Diameter', 'Conductor flexibility', 'Conductor material',
'Conductor shape', 'Fire Ranking', 'Global diameter', 'Halogen free',
'Inner sheath', 'Inner sheath thickness', 'Insulation',
'Insulation thickness', 'Material of the external semi-conductor',
'Material of the inner semi-conductor', 'Number of cores/conductors',
'Outer sheath', 'Outer sheath thickness', 'Screen', 'Voltage',
'With Green/Yellow core

## PRICE dataframe, len 4945
'Index', 'Product_ID', 'Selling_Country', 'Destination_Country',
'Sales qty 2022', 'Unit Price', 'CU Weight / m', 'AL Weight / m',
'Armour type', 'Conductor cross-section', 'Conductor Diameter',
'Conductor flexibility', 'Conductor material', 'Conductor shape',
'Fire Ranking', 'Global diameter', 'Halogen free', 'Inner sheath',
'Inner sheath thickness', 'Insulation', 'Insulation thickness',
'Material of the external semi-conductor',
'Material of the inner semi-conductor', 'Number of cores/conductors',
'Outer sheath', 'Outer sheath thickness', 'Screen', 'Voltage',
'With Green/Yellow core'

In [6]:
price_df = pd.read_excel(PRICE_EXCEL_PATH, skiprows=2)
cost_df = pd.read_excel(COST_EXCEL_PATH, skiprows=2)

In [7]:
price_df.head()

,Index,Product_ID,Selling_Country,Destination_Country,Sales qty 2022,Unit Price,CU Weight / m,AL Weight / m,Armour type,Conductor cross-section,...,Insulation,Insulation thickness,Material of the external semi-conductor,Material of the inner semi-conductor,Number of cores/conductors,Outer sheath,Outer sheath thickness,Screen,Voltage,With Green/Yellow core
0,1,AARD68A4664AAWJ,Afghanistan,Afghanistan,41,0.188399,0.011382,0.0,-,1.5,...,PVC,0.6,-,-,1,NaN,-,-,0.6/1 kV,Yes
1,2,AARD69A4664AAWJ,Afghanistan,Afghanistan,36,0.310027,0.020750,0.0,-,2.5,...,PVC,0.7,-,-,1,NaN,-,-,0.6/1 kV,Yes
2,3,AARD69A4664AAWJ,Afghanistan,Bhutan,8,0.278490,0.020750,0.0,-,2.5,...,PVC,0.7,-,-,1,NaN,-,-,0.6/1 kV,Yes
3,4,AARD69A8664AAWJ,Afghanistan,Afghanistan,3,0.268743,0.020750,0.0,-,2.5,...,PVC,0.7,-,-,1,NaN,-,-,0.6/1 kV,Yes
4,5,PAAD67A4664AAPK,Afghanistan,Afghanistan,44,0.152376,0.008990,0.0,-,1.0,...,PVC,0.8,-,-,1,NaN,-,-,0.6/1 kV,-

In [8]:
cost_df.head()

,Index,Product_ID,Production_Site,Unit Cost,CU Weight / m,AL Weight / m,Armour type,Conductor cross-section,Conductor Diameter,Conductor flexibility,...,Insulation,Insulation thickness,Material of the external semi-conductor,Material of the inner semi-conductor,Number of cores/conductors,Outer sheath,Outer sheath thickness,Screen,Voltage,With Green/Yellow core
0,1,AARD68A4664AAWJ,Afghanistan,0.127876,0.011382,0.0,-,1.5,1.381977,Class 2,...,PVC,0.6,-,-,1,NaN,-,-,0.6/1 kV,Yes
1,2,AARD69A4664AAWJ,Afghanistan,0.203438,0.020750,0.0,-,2.5,1.784124,Class 2,...,PVC,0.7,-,-,1,NaN,-,-,0.6/1 kV,Yes
2,3,AARD69A8664AAWJ,Afghanistan,0.203402,0.020750,0.0,-,2.5,1.784124,Class 2,...,PVC,0.7,-,-,1,NaN,-,-,0.6/1 kV,Yes
3,4,PAAD67A4664AAPK,Afghanistan,0.108719,0.008990,0.0,-,1.0,1.128379,Class 1,...,PVC,0.8,-,-,1,NaN,-,-,0.6/1 kV,-
4,5,PAAD67A4664AASL,Afghanistan,0.110303,0.008990,0.0,-,1.0,1.128379,Class 1,...,PVC,0.8,-,-,1,NaN,-,-,0.6/1 kV,-

In [15]:
len(price_df["Product_ID"].unique())
sum(price_df.duplicated("Product_ID"))

1462

In [22]:
sum(price_df["Product_ID"].isna())

sum(price_df["Unit Price"].isna())

0

# Question 1

Classer les produits par chiffre dâ€™affaires pour lâ€™entreprise. Combien de produits reprÃ©sente 
80% du chiffre dâ€™affaires ?

In [37]:
price_df["CA_by_product_destination_country"] = price_df["Unit Price"] * price_df["Sales qty 2022"]
ca_df = price_df.groupby("Product_ID")["CA_by_product_destination_country"].sum().sort_values(ascending=False).to_frame()

In [47]:
total_ca = ca_df["CA_by_product_destination_country"].sum()
ca_df["CA_pct"] = ca_df["CA_by_product_destination_country"] / total_ca
ca_df["CA_pct_cumsum"] = ca_df["CA_pct"].cumsum()
ca_df.query("CA_pct_cumsum <= 0.8")

                 CA_by_product_destination_country    CA_pct  CA_pct_cumsum
Product_ID
46642694                              14764.886553  0.009727       0.009727
46829111                              14199.638326  0.009355       0.019082
46688020                              12883.557496  0.008488       0.027570
EH     666266                         12863.885946  0.008475       0.036045
46806664                              12655.405704  0.008338       0.044383
...                                            ...       ...            ...
EHM    666048                           535.387721  0.000353       0.798569
46822797                                532.416999  0.000351       0.798920
46663135                                531.948706  0.000350       0.799270
46842051                                531.170320  0.000350       0.799620
PZWH62AA664NHJA                         530.949179  0.000350       0.799970

[656 rows x 3 columns]

# Question 2

Quels sont les produits vendus par plusieurs pays ?

In [49]:
price_df_2 = price_df.copy()
price_df_2["dummy"] = 1
item_count_by_country = price_df_2.groupby("Product_ID")["dummy"].count() # .size()

In [52]:
item_count_by_country[item_count_by_country > 1]

Product_ID
21402              2
21424              2
21443              3
21483              2
21488              2
                  ..
WJWD44A8665OCAA    2
WJWD48A8665OCAA    2
WJWD61A8665OCAA    2
WJWD68A8665OCAA    2
WJWD69A8665OCAA    2
Name: dummy, Length: 747, dtype: int64

# Question 3

Calculer la marge totale faite par chacun des pays vendeurs.

In [100]:
price_cost_df = pd.merge(
    cost_df[['Product_ID', 'Production_Site', 'Unit Cost']],
    price_df[['Product_ID', 'Selling_Country', 'Destination_Country', 'Sales qty 2022', 'Unit Price']],
    how="right",
    on="Product_ID")
price_cost_df["ca"] = price_cost_df["Unit Price"] * price_cost_df["Sales qty 2022"]
price_cost_df["loss"] = price_cost_df["Unit Cost"] * price_cost_df["Sales qty 2022"]
price_cost_df["benefit"] = price_cost_df["ca"] - price_cost_df["loss"]

In [101]:
price_cost_df.groupby("Selling_Country")["benefit"].sum().sort_values(ascending=False)

Selling_Country
Bahrain                92767.231154
Angola                 43839.256895
Andorra                33289.477608
Algeria                30305.993395
Belgium                20787.243159
Albania                16499.915394
Bahamas                16117.973395
Afghanistan            14318.595306
Belize                 13906.870129
Argentina              11590.288455
Bangladesh              9633.164125
Armenia                 8797.592476
Belarus                 7120.222924
Azerbaijan              6624.026758
Barbados                6172.899158
Antigua and Barbuda     4207.659510
Benin                   3552.857443
Australia               3158.468568
Austria                    0.000000
Name: benefit, dtype: float64

# Question 4

* Pour chaque pays vendeur, quel est le produit reprÃ©sentant les plus grosses ventes ?
* Quelle est la part des ventes rÃ©alisÃ©e par ce produit pour ce pays ?

In [102]:
benefit_by_item_by_country = price_cost_df.groupby(["Selling_Country", "Product_ID"])["ca"].sum().to_frame()
benefit_by_item_by_country

                                         ca
Selling_Country Product_ID
Afghanistan     AAPD42A4664MGPK   54.903808
                AAPD42A4664MGSL   31.320739
                AAPD42A8664MGSL   47.692136
                AAPD44A4664MRPK   55.960070
                AAPD44A4664MRSL   30.294019
...                                     ...
Benin           46886205          37.623707
                46886208          75.386711
                46886489         105.913014
                46889444         438.989506
                46889447         708.721564

[3669 rows x 1 columns]

In [112]:
benefit_by_item_by_country.loc["Afghanistan"].sort_values("ca")

                          ca
Product_ID
AARD69A8664AAWJ     0.806230
AAPD44A8664MRPK     1.345968
AAPD67A7664MRSL     1.682881
PAAD44A4664AAPE     1.874395
PAAS62A4664AAMR     2.121492
...                      ...
PLPD27AA664NHJA  2344.475832
PZWE17AA664NHJA  2420.578677
PLPD79AA664NHJA  2669.696371
PLBE17AA664OCJA  2770.718106
PZWE16AA664NHJA  3212.034399

[230 rows x 1 columns]

In [103]:
df4 = benefit_by_item_by_country.reset_index().sort_values(
    ["Selling_Country", "ca"],
    ascending=[True, False]).groupby("Selling_Country").first()
df4

                          Product_ID            ca
Selling_Country
Afghanistan          PZWE16AA664NHJA   3212.034399
Albania              PLPN27AA664NHJA   7292.838196
Algeria                     46829111  14199.638326
Andorra                     46842078   8266.743075
Angola                      46642694  13802.436311
Antigua and Barbuda         46688020   2929.384555
Argentina                      56735   3817.457436
Armenia                     46651218   5536.954221
Australia                   46653006    661.985129
Austria                 026RURAJEH16   5467.734715
Azerbaijan                  46861322   1741.644327
Bahamas                     42668671   8552.579543
Bahrain                EH     666266  12863.885946
Bangladesh               80540498066  10710.198743
Barbados                    46720645   2206.817578
Belarus                     46664659   2664.347136
Belgium              74634913-764-66   3008.583258
Belize                      46886312   6299.538552
Benin                       46849452   2865.072268

In [115]:
price_cost_by_country = price_cost_df.groupby(
    ["Selling_Country"])["ca"].sum().to_frame().rename(columns={"ca": "total_benefit"})

In [116]:
best_item_by_country = pd.merge(price_cost_by_country, df4, how="inner", on="Selling_Country")
best_item_by_country["prop"] = best_item_by_country["ca"] / best_item_by_country["total_benefit"]
best_item_by_country

                     total_benefit       Product_ID            ca      prop
Selling_Country
Afghanistan           77354.588687  PZWE16AA664NHJA   3212.034399  0.041524
Albania               55127.029439  PLPN27AA664NHJA   7292.838196  0.132292
Algeria              146836.199816         46829111  14199.638326  0.096704
Andorra              138708.699911         46842078   8266.743075  0.059598
Angola               168073.389631         46642694  13802.436311  0.082121
Antigua and Barbuda   31795.692641         46688020   2929.384555  0.092131
Argentina             65341.685709            56735   3817.457436  0.058423
Armenia               51168.837849         46651218   5536.954221  0.108209
Australia             16939.384378         46653006    661.985129  0.039080
Austria               27654.912953     026RURAJEH16   5467.734715  0.197713
Azerbaijan            29397.695409         46861322   1741.644327  0.059244
Bahamas               90931.969611         42668671   8552.579543  0.094055
Bahrain              332932.321887    EH     666266  12863.885946  0.038638
Bangladesh            44525.337540      80540498066  10710.198743  0.240542
Barbados              22195.835360         46720645   2206.817578  0.099425
Belarus               28282.775731         46664659   2664.347136  0.094204
Belgium               67380.700353  74634913-764-66   3008.583258  0.044651
Belize                59932.585759         46886312   6299.538552  0.105110
Benin                 72275.987578         46849452   2865.072268  0.039641

# Question 5

* Pour chaque pays vendeur, vers quel pays se fait la majoritÃ© des ventes ?
* Les plus grosses marges ?

In [117]:
selling_destination_df = price_cost_df.groupby(["Selling_Country", "Destination_Country"])["ca"].sum().to_frame()

In [99]:
selling_destination_df.reset_index().sort_values(["Destination_Country", "ca"], ascending=[True, False]).groupby("Selling_Country").first()

                     Destination_Country       benefit
Selling_Country
Afghanistan                  Afghanistan  10176.524127
Albania                          Albania  16034.574069
Algeria                          Algeria  24782.393213
Andorra                          Algeria   1024.066277
Angola                           Algeria     12.364909
Antigua and Barbuda  Antigua and Barbuda   1938.964088
Argentina                      Argentina  10970.815083
Armenia                          Armenia   8797.592476
Australia                      Australia   2989.210844
Azerbaijan                    Azerbaijan   6624.026758
Bahamas                          Bahamas   5138.061001
Bahrain                          Bahrain  42664.029310
Bangladesh                        Angola     75.146599
Barbados                        Barbados   5251.408301
Belarus                          Belarus   6440.262285
Belgium                         Barbados   1029.078258
Belize                            Belize  13906.870129
Benin                            Austria    835.631548

In [ ]:
benefit_by_item_by_country = price_cost_df.groupby(["Selling_Country", "Product_ID"])["benefit"].sum().to_frame()
benefit_by_item_by_country