# SQL Basics with [sqlite3](https://docs.python.org/3/library/sqlite3.html)

* SELECT - extracts data from a database
* UPDATE - updates data in a database
* DELETE - deletes data from a database
* INSERT INTO - inserts new data into a database
* CREATE DATABASE - creates a new database
* ALTER DATABASE - modifies a database
* CREATE TABLE - creates a new table
* ALTER TABLE - modifies a table
* DROP TABLE - deletes a table
* CREATE INDEX - creates an index (search key)
* DROP INDEX - deletes an index

In [1]:
from coding_test.sql_commons import DbConnection

# Create Table

In [8]:
with DbConnection() as db_connection:
    con, cur = db_connection
    con.execute("""CREATE TABLE Persons (
ID INTEGER PRIMARY KEY AUTOINCREMENT,
LastName varchar(255) NOT NULL,
FirstName varchar(255),
Age int CHECK (Age>=18)
);""")

Implement a query to get a list of all students and how many courses each student is enrolled in.

In [16]:
with DbConnection() as db_connection:
    con, cur = db_connection
    con.execute("CREATE TABLE movie(title, year, score)")

# Many to Many relationships

In [9]:
with DbConnection() as db_connection:
    con, cur = db_connection
    con.execute("""
CREATE TABLE Books (
ID INTEGER PRIMARY KEY AUTOINCREMENT,
Title varchar(255) NOT NULL);
""")

In [11]:
with DbConnection() as db_connection:
    con, cur = db_connection
    con.execute("""
CREATE TABLE PersonBooks (
PersonID int NOT NULL,
BookID int NOT NULL,

FOREIGN KEY(PersonID) REFERENCES Persons(ID),
FOREIGN KEY(BookID) REFERENCES Books(ID),
PRIMARY KEY (PersonID, BookID));
""")

In [13]:
data = [
    ("William", "Kruger", 43),
    ("John", "Proust", 21)
]
with DbConnection() as db_connection:
    con, cur = db_connection
    cur.executemany("INSERT INTO Persons(LastName, FirstName, Age) VALUES(?, ?, ?)", data)
    con.commit()  # Remember to commit the transaction after executing INSERT.

In [17]:
data = [
    ("Naked Statistics",),
    ("Data Literacy",),
]
with DbConnection() as db_connection:
    con, cur = db_connection
    cur.executemany("INSERT INTO Books(Title) VALUES(?)", data)
    con.commit()  # Remember to commit the transaction after executing INSERT.

In [25]:
with DbConnection() as db_connection:
    con, cur = db_connection
    for row in cur.execute("SELECT * FROM Books"):
        print(row)

with DbConnection() as db_connection:
    con, cur = db_connection
    for row in cur.execute("SELECT * FROM Persons"):
        print(row)

(2, 'Data Literacy')
(1, 'William', 'Kruger', 43)
(2, 'John', 'Proust', 21)

In [22]:
data = [
    (1, 1),
    (1, 2),
]
with DbConnection() as db_connection:
    con, cur = db_connection
    cur.executemany("INSERT INTO PersonBooks VALUES(?, ?)", data)
    con.commit()  # Remember to commit the transaction after executing INSERT.

In [27]:

with DbConnection() as db_connection:
    con, cur = db_connection
    for row in cur.execute("SELECT * FROM PersonBooks"):
        print(row)

(1, 1)
(1, 2)

In [23]:
with DbConnection() as db_connection:
    con, cur = db_connection
    cur.execute("DELETE from Books where Title = 'Naked Statistics'")
    con.commit()

# Check Table Creation

In [18]:
with DbConnection() as db_connection:
    con, cur = db_connection
    res = con.execute("SELECT name FROM sqlite_master")
    for table in res.fetchall():
        print(table)

('Persons',)
('movie',)

# Insert values

In [15]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
with DbConnection() as db_connection:
    con, cur = db_connection
    cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
    con.commit()  # Remember to commit the transaction after executing INSERT.

# Select from table

In [8]:
with DbConnection() as db_connection:
    con, cur = db_connection
    for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
        print(row)

OperationalError: no such table: movie

# Drop data from a table

In [4]:
with DbConnection() as db_connection:
    con, cur = db_connection
    cur.execute("DELETE from movie")
    con.commit()

# Drop Entire Table

In [7]:
with DbConnection() as db_connection:
    con, cur = db_connection
    cur.execute("DROP TABLE movie")
    con.commit()