# What function to use to round a number to the smallest integer value that is greater than or equal to a number?

The CEILING() function returns the smallest integer value that is greater than or equal to the specified number.

The CEIL() function is a synonym for the CEILING() function and also returns the smallest integer value that is greater than or equal to a number.

In [8]:
from coding_test.sql_commons import DbConnection

with DbConnection() as db_connection:
    con, cur = db_connection
    res = con.execute("SELECT ROUND(25.50)")
    print(res.fetchone())

(26.0,)

# Which of the following is true about Cartesian Products?

A Cartesian product is formed when a join condition is omitted.

The SQL CROSS JOIN produces a result set which is the number of rows in the first table multiplied by the number of rows in the second table if no WHERE clause is used along with CROSS JOIN .This kind of result is called as Cartesian Product.

If `WHERE` clause is used with `CROSS JOIN`, it functions like an `INNER JOIN`.

In [ ]:
# `CROSS JOIN` Syntax

"""SELECT *
FROM table1
CROSS JOIN table2;
"""

# How to select random 10 rows from a table?

The easiest way to generate random rows in MySQL is to use the ORDER BY RAND() clause.

This can work fine for small tables. However, for big table, it will have a serious performance problem as in order to generate the list of random rows, MySQL need to assign random number to each row and then sort them.

Even if you want only 10 random rows from a set of 100k rows, MySQL need to sort all the 100k rows and then, extract only 10 of them.

In [ ]:
"""SELECT * 
FROM tbl
ORDER BY RAND()
LIMIT 10
"""