## Question 4
![4](bnae-question-4.png)

```sql
-- Suggested testing environment:
-- http://sqlite.online/

-- Insert answer here

INSERT INTO locations(id, address, latitude, longitude) VALUES(1, '124 Southampton Row, Bloomsbury, London', 51.520686, -0.123091);
INSERT INTO locations(id, address, latitude, longitude) VALUES(2, 'Woodlands Heights, Vanbrugh Hill, London', 51.4826, 0.0077);

SELECT * FROM locations;

-- Expected output (in any order):
-- id    address                                     latitude     longitude
-- ------------------------------------------------------------------------
-- 1     124 Southampton Row, Bloomsbury, London     51.520686    -0.123091
-- 2     Woodlands Heights, Vanbrugh Hill, London    51.4826      0.0077
```

## Question 5
```sql
CREATE TABLE employees (
  id INTEGER NOT NULL PRIMARY KEY,
  managerId INTEGER REFERENCES employees(id), 
  name VARCHAR(30) NOT NULL
);

INSERT INTO employees(id, managerId, name) VALUES(1, NULL, 'John');
INSERT INTO employees(id, managerId, name) VALUES(2, 1, 'Mike');

-- Expected output (in any order):
-- name
-- ----
-- Mike

-- Explanation:
-- In this example.
-- John is Mike's manager. Mike does not manage anyone.
-- Mike is the only employee who does not manage anyone.
```

Write a query that selects the names of employees who are not managers.

### Answer
```sql
SELECT name
FROM employees
WHERE id NOT IN
(SELECT DISTINCT managerId FROM employees WHERE managerId IS NOT NULL)
```

## Question 6
![6](bnae-question-6.png)

```sql
-- Suggested testing environment:
-- http://sqlite.online/

CREATE TABLE searchedPhrases (
  id INTEGER PRIMARY KEY NOT NULL,
  text VARCHAR(200) NOT NULL,
  count INTEGER NOT NULL
);

INSERT INTO searchedPhrases(id, text, count) values(1, 'toaster', 1145);
INSERT INTO searchedPhrases(id, text, count) values(2, 'washing machine', 879);
INSERT INTO searchedPhrases(id, text, count) values(3, 'hairdryer', 476);
INSERT INTO searchedPhrases(id, text, count) values(4, 'samsung tv', 2117);
INSERT INTO searchedPhrases(id, text, count) values(5, 'samsung', 2118);
INSERT INTO searchedPhrases(id, text, count) values(6, 'samsung tablet', 899);
INSERT INTO searchedPhrases(id, text, count) values(7, 'samsung s8', 2117);

-- Insert answer here

SELECT text FROM searchedPhrases WHERE text LIKE 'samsung%' ORDER BY count DESC;
```

## Question 7
What are the correct affirmation to adding a index to a column

- [ ] Always improve UPDATE query
- [ ] Always improve DELETE query
- [ ] Requires more space
- [ ] Improve query time on SELECT
    
**Advantages**
* Speed up SELECT query
* Helps to make a row unique or without duplicates(primary,unique) 
* If index is set to fill-text index, then we can search against large string values. for example to find a word from a sentence etc.

**Disadvantages**
* Indexes take additional disk space.
* indexes slow down INSERT, UPDATE and DELETE, but will speed up UPDATE if the WHERE condition has an indexed field.  INSERT, UPDATE and DELETE becomes slower because on each operation the indexes must also be updated. 

## Question 8
![8](bnae-question-8.png)